# Python

## Prompt de Comando do Computador - Console

In [1]:
print("Hello World!")

Hello World!

## Comentário

In [ ]:
# Isso é um comentário de uma linha
print("Hello, World!")

"""
    Isso é 
    um comentário 
    de varias linhas
"""
print("Hello, World!")

## Variaveis

In [ ]:
x = 29
y = "Anne"

print(f"X é uma variável, que foi atribuida o valor de {x} e o valor atribui é do tipo {type(x)}")
print(f"Y é uma variável, que foi atribuida o valor de {y} e o valor atribui é do tipo {type(y)}\n")

a = "Python"
b = "is"
c = "awesome."

print(f"União de várias string, formando a seguinte fase:") 
print(a, b, c) 

a = "Python "
b = "is "
c = "awesome."
print(a+b+c)

## Formatação

In [25]:
idade = 29
"Idade da pessoa é: {}".format(idade)

'Idade da pessoa é: 29'

In [26]:
idade = 29
nome = 'Anne'
"Idade da pessoa é: {} e o nome é: {}".format(idade, nome)

'Idade da pessoa é: 29 e o nome é: Anne'

In [27]:
idade = 29
nome = 'Anne'
"Idade da pessoa é: {b} e o nome é: {a}".format(b=idade, a=nome)

'Idade da pessoa é: 29 e o nome é: Anne'

## Tipo de Dados

Verificando os tipos de dado:

In [7]:
x = 1
y = 2.8
z = 1j
w = 'Oi'
k = 3+5j

print(type(x))
print(type(y))
print(type(z))
print(type(w))
print(type(k))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'complex'>

### Int - Inteiros

In [2]:
2 + 2

4

In [5]:
a = 5
b = 2

a*b

10

In [6]:
print("2 + 2 = {}".format(2+2))
print("2 - 2 = {}".format(2-2))
print("2 / 2 = {}".format(2/2))
print("2 % 2 = {}".format(2/2))
print("3 / 2 = {}".format(2/2))
print("3 % 2 = {}".format(2/2))
print("2 * 2 = {}".format(2*2))
print("2 ** 2 = {}".format(2**2))
print("2 ** (1/2) = {}".format(2**(1/2)))

2 + 2 = 4
2 - 2 = 0
2 / 2 = 1.0
2 % 2 = 1.0
3 / 2 = 1.0
3 % 2 = 1.0
2 * 2 = 4
2 ** 2 = 4
2 ** (1/2) = 1.4142135623730951

In [7]:
5%2

1

In [5]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### Float

Números com ponto flutuante:

In [6]:
x = 1.10
y = 1.0
z = -35.59
w = 2.8

print(type(y))
print(type(z))
print(type(y))
print(type(w))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

Exemplo de notação científica com e que indica elevado a potência de 10:

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

### Complexos

In [ ]:
x = 3+5j
y = 5j
z = -5j
w = 1j

print(type(x))
print(type(y))
print(type(z))
print(type(w))

### String

Criando uma variável do tipo string e atribuindo um valor a ela:

In [10]:
minha_string = "hello"
minha_string

'hello'

In [9]:
minha_string_2 = "Isso é uma String"
minha_string_2

'Isso é uma String'

Obtendo o tamanho da string:

In [12]:
len(minha_string_2)

17

Seccionando um string:

In [13]:
minha_string_2[0]

'I'

In [17]:
#Exibe toda a string - Intervalo
minha_string_2[0:17]

'Isso é uma String'

Obtendo um caracter de tras para frente:

In [18]:
minha_string_2[-1]

'g'

In [19]:
minha_string_2[:-1]

'Isso é uma Strin'

Obtendo os caracteres da string, espaçando de um a um:

In [10]:
minha_string_2[::1]

'Isso é uma String'

Obtendo os caracteres da string, espaçando de dois em dois:

In [11]:
minha_string_2[::2]

'Is  m tig'

Obtendo toda a string de traz para frente:

In [20]:
minha_string_2[::-1]

'gnirtS amu é ossI'

Utilizando alguns métodos:

*   .lower() -> Transforma todos os caracteres em minusculo.
*   .upper() -> Transforma todos os caracteres em maiusculo.
*   .split("...") -> Retorna uma lista, baseado no separador informado.

In [22]:
"HELLO".lower()

'hello'

In [23]:
"hello".upper()

'HELLO'

In [24]:
"hello Anne".split(" ")

['hello', 'Anne']

## Variáveis

*    Os nomes não podem começar com números.
*    Não pode haver espaço entre os nomes.
*    Há simbolos proibidos: #, *, $ ...
*    Utiliza-se apenas underline (_).

In [ ]:
a = 5

## Listas

In [28]:
minha_lista = [1, 2, 3]
minha_lista

[1, 2, 3]

In [29]:
type(minha_lista)

list

In [30]:
minha_lista[:]

[1, 2, 3]

In [31]:
minha_lista[1:-1]

[2]

In [33]:
minha_lista=[1, 2, "hello", [1, 2, 3]]

In [34]:
minha_lista + [3]

[1, 2, 'hello', [1, 2, 3], 3]

In [35]:
minha_lista[2].upper()

'HELLO'

In [36]:
minha_lista * 2

[1, 2, 'hello', [1, 2, 3], 1, 2, 'hello', [1, 2, 3]]

### Métodos básicos

In [37]:
# Adiciona elemento
l = [1, 2, 3]
l.append("4")
l

[1, 2, 3, '4']

In [38]:
# tira o ultimo elemento e retorna
l.pop()

'4'

In [39]:
l

[1, 2, 3]

In [40]:
new_lista = ["a", "b", "c", "d"]

In [42]:
# Manter a ordem
new_lista.sort()
new_lista

['a', 'b', 'c', 'd']

In [45]:
# Reverte a ordem
new_lista.reverse()
new_lista

['d', 'c', 'b', 'a']

### Listas aninhadas

In [46]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

list4 = [list1, list2, list3]
list4

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [47]:
list4[0][0]

1

## Dicionário

Armazena pares de dados - chave/valor

In [48]:
meu_dicionario = {
    "nome":"Anne", 
    "idade":29, 
    "cidade":"Belo Horizonte",
    "profissao":"Estudante",
    "filhos":[]
}
meu_dicionario

{'nome': 'Anne',
 'idade': 29,
 'cidade': 'Belo Horizonte',
 'profissao': 'Estudante',
 'filhos': []}

In [49]:
meu_dicionario["nome"]

'Anne'

In [51]:
meu_dicionario["status"] = "solteira"

In [52]:
meu_dicionario

{'nome': 'Anne',
 'idade': 29,
 'cidade': 'Belo Horizonte',
 'profissao': 'Estudante',
 'filhos': [],
 'status': 'solteira'}

In [53]:
meu_dicionario["variavel_aleatorio"] = {"a":1, "b":2}
meu_dicionario

{'nome': 'Anne',
 'idade': 29,
 'cidade': 'Belo Horizonte',
 'profissao': 'Estudante',
 'filhos': [],
 'status': 'solteira',
 'variavel_aleatorio': {'a': 1, 'b': 2}}

### Metodos

Há apenas três metodos nos dicionários em python, sendo eles
*    .keys()
*    .values()
*    .items()

In [54]:
meu_dicionario.keys()

dict_keys(['nome', 'idade', 'cidade', 'profissao', 'filhos', 'status', 'variavel_aleatorio'])

In [55]:
meu_dicionario.values()

dict_values(['Anne', 29, 'Belo Horizonte', 'Estudante', [], 'solteira', {'a': 1, 'b': 2}])

In [56]:
meu_dicionario.items()

dict_items([('nome', 'Anne'), ('idade', 29), ('cidade', 'Belo Horizonte'), ('profissao', 'Estudante'), ('filhos', []), ('status', 'solteira'), ('variavel_aleatorio', {'a': 1, 'b': 2})])

## Tuplas

In [57]:
t = {1, 2, 3}
t

{1, 2, 3}

In [61]:
a, b = {1, 2}

In [62]:
a

1

In [63]:
b

2