In [5]:
import pandas as pd
import numpy as np
from numpy.random import randn

df = pd.DataFrame(randn(5, 4), index = ['A', 'B', 'C', 'D', 'E'], columns = "W X Y Z".split())
df

          W         X         Y         Z
A  0.186488 -0.562573  1.757358 -0.307859
B -0.957855  0.014669 -1.510931  0.631459
C  0.106439 -0.601788  0.366830  0.834694
D -0.097560 -0.143869  0.536074  0.005930
E  0.022290 -0.252561 -0.865722  0.316133

In [8]:
series = df['W']
series

A    0.186488
B   -0.957855
C    0.106439
D   -0.097560
E    0.022290
Name: W, dtype: float64

In [9]:
type(series)

pandas.core.series.Series