In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

df = pd.DataFrame(randn(5, 4), index = ['A', 'B', 'C', 'D', 'E'], columns = "W X Y Z".split())
df

          W         X         Y         Z
A  1.063319  3.058422 -0.656131 -1.678095
B  0.684988  1.251439 -0.706234  0.409186
C -0.981997  0.664804 -0.108815  0.653849
D  0.087665 -0.084782 -0.270205 -0.437939
E  0.124267 -1.332165 -2.256232  0.740655

In [2]:
type(df)

pandas.core.frame.DataFrame