In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

df = pd.DataFrame(randn(5, 4), index = ['A', 'B', 'C', 'D', 'E'], columns = "W X Y Z".split())

Tentar acessar coluna que nao existe:

In [2]:
df['new']

KeyError: 'new'

Criando uma réplica da coluna W:

In [4]:
df['new'] = df['W']

In [5]:
df

          W         X         Y         Z       new
A -0.711126  0.543588 -0.465526 -1.084578 -0.711126
B -1.726927 -0.326766  0.333691 -0.528240 -1.726927
C -0.684600 -1.114910 -2.709994  1.123749 -0.684600
D -0.789934 -0.100389 -0.136907  0.009801 -0.789934
E -0.726338  0.834391 -0.602244 -1.863380 -0.726338

Operação matemática com duas Series, que se orientam pelo index.

In [6]:
df['Operação Aritmetica'] = df['W'] - df['X']
df

          W         X         Y         Z       new  Operação Aritmetica
A -0.711126  0.543588 -0.465526 -1.084578 -0.711126            -1.254714
B -1.726927 -0.326766  0.333691 -0.528240 -1.726927            -1.400162
C -0.684600 -1.114910 -2.709994  1.123749 -0.684600             0.430310
D -0.789934 -0.100389 -0.136907  0.009801 -0.789934            -0.689545
E -0.726338  0.834391 -0.602244 -1.863380 -0.726338            -1.560729