In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

df = pd.DataFrame(randn(5, 4), index = ['A', 'B', 'C', 'D', 'E'], columns = "W X Y Z".split())

In [2]:
df

          W         X         Y         Z
A -1.186699  1.082160  0.521602  1.872958
B -1.085423  0.908993 -1.237671 -1.307566
C  0.542420  0.483676  1.185071 -0.408080
D -1.126961 -0.152977  1.121560 -0.679670
E -1.403983 -0.737461 -1.239848 -0.004298

In [3]:
df.loc[['A', 'B']]

          W         X         Y         Z
A -1.186699  1.082160  0.521602  1.872958
B -1.085423  0.908993 -1.237671 -1.307566

In [4]:
df.iloc[0,2]

0.521601538373769