In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

df = pd.DataFrame(randn(5, 4), index = ['A', 'B', 'C', 'D', 'E'], columns = "W X Y Z".split())
df

          W         X         Y         Z
A -0.929144 -2.097073  0.075668  1.986886
B -0.237642  1.348141  0.598939 -0.205544
C -0.999089 -0.982521  1.406117 -0.994902
D  1.496780  1.114138 -0.140490  1.339812
E  0.898963  1.606422  0.841766 -0.891398

Devolve no formato de series:

In [2]:
df['W']

A   -0.929144
B   -0.237642
C   -0.999089
D    1.496780
E    0.898963
Name: W, dtype: float64

In [5]:
type(df['W'])

pandas.core.series.Series

Devolve no formato de Dataframe:

In [3]:
df[['W']]

          W
A -0.929144
B -0.237642
C -0.999089
D  1.496780
E  0.898963

In [4]:
type(df[['W']])

pandas.core.frame.DataFrame